.app-container {
  display: flex;
  flex-direction: row;
  width: auto;
  width: 98%;
  app-grafico {
    width: 33%;
    margin-bottom: 7px;
    margin: 3px;
    margin-right: 0.5%;
    margin-left: 0.5%;
  }
}

@media only screen and (max-width: 1218px) {
  app-grafico {
    width: 100% !important;
  }
  .app-container {
    display: flex;
    flex-direction: column;
    width: 100% !important;
  }
  svg {
    width: 200px;
  }
}

.mat-toolbar-row{
  display: flex;
  justify-content: center;
}

.mat-toolbar{
  background-color: #303f9f;
  color: white;
}
