<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>PRUEBA TÉCNICA FRONT</span>
  </mat-toolbar-row>
</mat-toolbar>

  <div class="app-container">
    <app-grafico [chartOptions] = revenueChartoption  #graficoComponent1></app-grafico>
    <app-grafico [chartOptions] = impresionsChartoption #graficoComponent2></app-grafico>
    <app-grafico [chartOptions] = visitsChartoption #graficoComponent3></app-grafico>
  </div>

