<mat-card>
<div class="main-container">
   
    <div class="donut-chart" >
        <div class="header-container">
            <span class="title">{{chartOptions.title}} </span>
            <span class="total-value"> {{chartOptions.dounutChart.totalValue |  pointReplacer }} {{chartOptions.symbol }}</span>
        </div>
        <app-grafico-dona  [options] = chartOptions.dounutChart.chartData ></app-grafico-dona>
    </div>
    
    <div class="area-chart" >
        <app-grafico-area  [options] = chartOptions.areaChart.chartData ></app-grafico-area> 
    </div>
    
    <div class="parent">
        <div class="child1">
            <span class="tablet-type" [ngStyle]="{'color':colorType1}">Tablet</span>
            <div class="values">
                <span class="percent" >{{chartOptions.dounutChart.tabletPercent}}%</span>
                <span  class="device-amount">{{tabletValue  |  pointReplacer}}{{chartOptions.symbol }}</span>
            </div>
        </div>
        <div class="child2">
        <span class="smartphone-type" [ngStyle]="{'color':colorType2}">Smartphone</span>
        <div class="values">
             <span class="percent">{{chartOptions.dounutChart.smartphonePercent}}%</span>
             <span class="device-amount">{{smartPhoneValue  |  pointReplacer}}{{chartOptions.symbol }}</span>
         </div>
        </div>
    </div>
    
</div>
</mat-card>


