.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .header-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 110px;
    width: 100%;
    text-align: center;

    .title {
      font-size: 1.2em;
      color: rgb(148, 153, 158);
    }
    .total-value {
      font-size: 1.6em;
      color: rgb(55, 57, 59);
    }
  }
  .donut-chart {
    display: grid;
    align-content: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  .area-chart {
    margin-top: -155px;
    display: grid;
    align-content: center;
    justify-content: center;
  }

  .parent {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 3%;
    .child1 {
      width: 50%;
      margin-right: 100px;
      display: flex;
      flex-direction: column;
      .tablet-type {
        font-size: 1rem;
        font-weight: bolder;
      }
      .values {
        display: flex;
        flex-direction: row;
        .percent {
          font-size: 1rem;
          color: rgb(55, 57, 59);
        }
        .device-amount {
          font-size: 1rem;
          color: rgb(157, 164, 172);
        }
        span {
          margin-right: 8px;
        }
      }
    }
    .child2 {
      text-align: right;
      width: 50%;
      display: flex;
      flex-direction: column;
      .smartphone-type {
        font-size: 1rem;
        font-weight: bolder;
      }
      .values {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        .percent {
          font-size: 1rem;
          color: rgb(55, 57, 59);
        }
        .device-amount {
          font-size: 1rem;
          color: rgb(157, 164, 172);
        }
        span {
          margin-left: 8px;
        }
      }
      .device-type {
        color: #9fd769;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .donut-chart {
      display: grid;
      align-content: center;
      justify-content: center;
    }
    .area-chart {
      margin-top: -150px;
      display: grid;
      align-content: center;
      justify-content: center;
    }
    .parent {
      padding-right:  5px;
      padding-left: 5px;
      margin-top: 10%;
      margin-bottom: 3%;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-around; 
      justify-content: space-around;
      .child1{
        margin-right: 10%;
        width: auto;
      }
      .child2{
        margin-left: 10%;
        width: auto;
      }
    }
  }
}
