/* You can add global styles to this file, and also import other style files */
body {
  font-family: sans-serif;
}

html, body { height: 100%; }
body { 
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(248, 244, 244);
}
.mat-card{
  margin: 10px !important;
  width: auto;
}
